<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <h1>poker hands</h1>
    <form id="poker-form" action="/getHands" method="POST">
      <div class="hands">
        <div class="hand-1 hand">
          <p>HAND 1</p>
          <div class="card-1 card">
            <p>card 1</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-1a" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-1a" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-1a" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-1a" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-1a" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-1a" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-1a" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-1a" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-1a" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-1a" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-1a" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-1a" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-1a" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-1a" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-1a" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-1a" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-1a" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
          <div class="card-2 card">
            <p>card 2</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-2a" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-2a" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-2a" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-2a" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-2a" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-2a" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-2a" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-2a" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-2a" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-2a" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-2a" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-2a" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-2a" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-2a" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-2a" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-2a" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-2a" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
          <div class="card-3 card">
            <p>card 3</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-3a" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-3a" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-3a" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-3a" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-3a" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-3a" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-3a" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-3a" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-3a" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-3a" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-3a" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-3a" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-3a" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-3a" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-3a" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-3a" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-3a" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
          <div class="card-4 card">
            <p>card 4</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-4a" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-4a" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-4a" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-4a" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-4a" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-4a" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-4a" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-4a" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-4a" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-4a" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-4a" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-4a" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-4a" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-4a" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-4a" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-4a" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-4a" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
          <div class="card-5 card">
            <p>card 5</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-5a" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-5a" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-5a" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-5a" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-5a" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-5a" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-5a" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-5a" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-5a" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-5a" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-5a" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-5a" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-5a" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-5a" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-5a" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-5a" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-5a" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
        </div>
        <div class="hand-2 hand">
          <p>HAND 2</p>
          <div class="card-1 card">
            <p>card 1</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-1b" value="2" required required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-1b" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-1b" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-1b" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-1b" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-1b" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-1b" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-1b" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-1b" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-1b" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-1b" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-1b" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-1b" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-1b" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-1b" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-1b" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-1b" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
          <div class="card-2 card">
            <p>card 2</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-2b" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-2b" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-2b" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-2b" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-2b" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-2b" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-2b" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-2b" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-2b" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-2b" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-2b" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-2b" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-2b" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-2b" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-2b" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-2b" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-2b" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
          <div class="card-3 card">
            <p>card 3</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-3b" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-3b" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-3b" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-3b" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-3b" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-3b" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-3b" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-3b" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-3b" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-3b" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-3b" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-3b" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-3b" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-3b" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-3b" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-3b" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-3b" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
          <div class="card-4 card">
            <p>card 4</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-4b" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-4b" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-4b" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-4b" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-4b" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-4b" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-4b" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-4b" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-4b" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-4b" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-4b" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-4b" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-4b" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-4b" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-4b" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-4b" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-4b" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
          <div class="card-5 card">
            <p>card 5</p>
            <div class="rank">
              <div class="radio-background">
                <label>2</label>
                <input type="radio" name="rank-5b" value="2" required>
              </div>
              <div class="radio-background">
                <label>3</label>
                <input type="radio" name="rank-5b" value="3">
              </div>
              <div class="radio-background">
                <label>4</label>
                <input type="radio" name="rank-5b" value="4">
              </div>
              <div class="radio-background">
                <label>5</label>
                <input type="radio" name="rank-5b" value="5">
              </div>
              <div class="radio-background">
                <label>6</label>
                <input type="radio" name="rank-5b" value="6">
              </div>
              <div class="radio-background">
                <label>7</label>
                <input type="radio" name="rank-5b" value="7">
              </div>
              <div class="radio-background">
                <label>8</label>
                <input type="radio" name="rank-5b" value="8">
              </div>
              <div class="radio-background">
                <label>9</label>
                <input type="radio" name="rank-5b" value="9">
              </div>
              <div class="radio-background">
                <label>10</label>
                <input type="radio" name="rank-5b" value="10">
              </div>
              <div class="radio-background">
                <label>J</label>
                <input type="radio" name="rank-5b" value="J">
              </div>
              <div class="radio-background">
                <label>Q</label>
                <input type="radio" name="rank-5b" value="Q">
              </div>
              <div class="radio-background">
                <label>K</label>
                <input type="radio" name="rank-5b" value="K">
              </div>
              <div class="radio-background">
                <label>A</label>
                <input type="radio" name="rank-5b" value="A">
              </div>
            </div>
            <div class="suit">
              <div class="radio-background">
                <input type="radio" name="suit-5b" value="hearts" required>
                <label>hearts</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-5b" value="spades">
                <label>spades</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-5b" value="diamonds">
                <label>diamonds</label>
              </div>
              <div class="radio-background">
                <input type="radio" name="suit-5b" value="clubs">
                <label>clubs</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="submit" class="poker-submit">
    </form>
  </body>
</html>
