<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  </head>
  <body>
    <h1>poker hands</h1>
    <form id="poker-form" action="/getHands" method="POST">
    <div class="hands">
      <div class="hand-1 hand">
        <p>HAND 1</p>
        <div class="card-1 card">
          <p>card 1</p>
          <select name="h1c1-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h1c1-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>
        <div class="card-2 card">
          <p>card 2</p>
          <select name="h1c2-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h1c2-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>

        <div class="card-3 card">
          <p>card 3</p>
          <select name="h1c3-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h1c3-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>
        <div class="card-4 card">
          <p/>card 4</p>
          <select name="h1c4-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h1c4-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>
        <div class="card-5 card">
          <p>card 5</p>
          <select name="h1c5-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h1c5-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>
      </div>

      <div class="hand-2 hand">
        <p>HAND 2</p>
        <div class="card-1 card">
          <p>card 1</p>
          <select name="h2c1-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h2c1-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>
        <div class="card-2 card">
          <p>card 2</p>
          <select name="h2c2-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h2c2-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>

        <div class="card-3 card">
          <p>card 3</p>
          <select name="h2c3-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h2c3-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>
        <div class="card-4 card">
          <p/>card 4</p>
          <select name="h2c4-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h2c4-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>
        <div class="card-5 card">
          <p>card 5</p>
          <select name="h2c5-rank">
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
            <option value="10">J</option>
            <option value="11">Q</option>
            <option value="12">K</option>
            <option value="13">A</option>
          </select>
          <select name="h2c5-suit">
            <option value="clubs">clubs</option>
            <option value="hearts">hearts</option>
            <option value="diamonds">diamonds</option>
            <option value="spades">spades</option>
          </select>
        </div>
      </div>
    </div>
      <input type="submit">
      </form>
  </body>
</html>
