body {
  background-color: #EEE;
  position: relative;

  input.poker-submit {
    position: absolute;
    left: 33%;
    right: 33%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 33%;
    height: 5%;
    background-color: #FFF;
  }

  h1 {
    color: #244751;
  }

  div.hands {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .hand {
      background-color: #FFF;
      padding: 8px;
      height: 15%;
      width: 35%;
      border-radius: 2px;
    }
  }
  div.rank {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div.radio-background {
      // background-color: #778899;
      margin: .1em .2em;

      label {
        padding: .3em;

      }
      input {
        margin: .3em;
      }
    }
  }

  div.suit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div.radio-background {
      // background-color: #778899;
      margin: .1em .2em;
      padding: 1em;
    }
  }
}
