body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  div.hands {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .hand {
      background-color: white;
      padding: 8px;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      height: 15%;
      width: 30%;
      border-radius: 2px;
    }
  }
  div.rank {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div.radio-background {
      background-color: tomato;
      margin: .1em .2em;

      label {
        padding: .5em;
      }
      input {
        margin: .5em;
      }
    }
  }
  div.suit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
